<% layout( "_layout") %>
    <h1>Receitas</h1>
    <%if(recipes.length>0){%>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%recipes.forEach(function(r){%>
                    <tr>
                        <td>
                            <a href="/recipe/<%=r._id%>"><%=r.name%></a>
                        </td>
                        <td>
                            <%=r.description%>
                        </td>
                        <th>
                            <a href="#" onclick="doRemove('<%=r._id%>')">
                                <span class="fa fa-trash-o"></span>
                            </a>
                        </th>
                    </tr>
                <%})%>
            </tbody>
        </table>
    <%}else{%>
        <h3 class="alert alert-danger">Não há receitas</h3>
    <%}%>
        <hr>
<a href="/recipe" class="btn btn-link"><span class="fa fa-plus"></span> Adicionar</a>