<fieldset class="panel panel-default" data-ng-controller="IngredientsCtrl">
    <div class="panel-heading">
        <h3>Ingredientes</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="ingredient">Ingrediente</label>
            <input type="text" class="form-control" name="ingredient" id="ingredient" data-ng-model="ingredient.name">
        </div>
        <div class="form-group">
            <label for="quantity">Quantidade</label>
            <input type="number" name="quantity" id="quantity" class="form-control" data-ng-model="ingredient.quantity">
        </div>
        <div class="form-group">
            <label for="unity">Unidade</label>
            <select name="unity" id="unity" class="form-control" data-ng-model="ingredient.unity">
                <option value="un">Unidade</option>
                <option value="xi">Xícara</option>
                <option value="cc">Colher de chá</option>
                <option value="cs">Colher de sopa</option>
                <option value="gr">Gramas</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="optional" id="optional" data-ng-model="ingredient.optional">Opcional
            </label>
        </div>
        <fieldset>
            <legend>Trocável por</legend>
            <div class="checkbox row-fluid">
                <div class="col-md-4" data-ng-repeat="i in recipe.ingredients">
                    <label for="switchList" class="col-md-4">
                        <input type="checkbox" name="switchList" id="switchList" value="{{i.key}}" data-ng-model="ingredient.switchList">{{i.name}}
                    </label>
                </div>
            </div>
        </fieldset>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Ingrediente</th>
                    <th>Quantidade</th>
                    <th>Unidade</th>
                    <th>Trocável por</th>
                    <th>Opcional</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-ng-if="recipe.ingredients.length==0">
                <tr>
                    <td colspan="100" class="alert alert-warning">
                        <span>Nenhum ingrediente adicionado.</span>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="recipe.ingredients.length>0">
                <tr data-ng-repeat="i in recipe.ingredients">
                    <td>{{i.key}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.unity}}</td>
                    <td>{{i.switchList}}</td>
                    <td>{{i.optional}}</td>
                    <td>
                        <a href="javascript:">
                            <span class="fa fa-trash-o" data-ng-click="remove(i)"></span>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" data-ng-click="add()" type="button" data-ng-disabled="ingredient.name.length===0">Adicionar</button>
    </div>
</fieldset>