<%layout( "_layout")%>
    <div class="row-fluid" data-ng-controller="RecipeCtrl">
        <form method="post" data-nj-submit="save()">
            <input type="hidden" name="id" value="<%=recipe._id%>" data-ng-model="recipe.id">
            <div class="col-md-6">
                <fieldset class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Receita</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" name="name" id="name" data-ng-model="recipe.name">
                        </div>
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            <select name="category" id="category" class="form-control" data-ng-model="recipe.category">
                                <option>Normal</option>
                                <option>Orgânica</option>
                                <option>Álcoolico</option>
                                <option>Exótica</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <textarea name="description" id="description" class="form-control" data-ng-model="recipe.description" rows="6"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            Autor
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="authorName">Nome</label>
                            <input type="text" class="form-control" id="authorName" name="authorName" data-ng-model="recipe.author.name">
                        </div>
                        <div class="form-group">
                            <label for="autorEmail">Email</label>
                            <input type="text" class="form-control" id="autorEmail" name="autorEmail" data-ng-model="recipe.author.email">
                        </div>
                        <div class="form-group">
                            <label for="autorSite">Site</label>
                            <input type="text" class="form-control" id="autorSite" name="autorSite" data-ng-model="recipe.author.site">
                        </div>
                    </div>
                </fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="javascript:" class="btn btn-link">Cancelar</a>
                        <button class="btn btn-danger" type="submit" data-ng-click="save()">Salvar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <%-partial( 'ingredients')%>
            </div>
            <div class="col-md-6">
                <%-partial( 'steps')%>
            </div>
        </form>
    </div>